/* Resets */
:root {
  --primary: #fff;
  --secondary: #e4e6e9;
  --bg-color: #f0f2f5;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  /* background: none; */
  cursor: initial;
}

body {
  background: var(--bg-color);
}

.app {
  max-width: 728px;
  margin: 0 auto;
  padding: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  gap: 2.5%;
}

.card {
  background: var(--primary);
  border-radius: 0.5rem;
  padding: 0.75rem;
  box-shadow: var(--shadow);
}

.greeting .profile-pic {
  display: block;
  width: 7.5%;
  border-radius: 50%;
}

.greeting .post-field {
  min-width: 90%;
  font-size: 1.125rem;
  background-color: var(--secondary);
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
}
