/* Resets */
:root {
  --primary: #fff;
  --secondary: #f0f2f5;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: var(--secondary);
}

.app {
  max-width: 728px;
  margin: 0 auto;
  padding: 1.5rem;
}
